section.tour-conditions
  h2.visually-hidden У нас лучшие условия!
  each article in tour-conditions
    article.tour-conditions__item
      img.tour-conditions__icon(src="../img/icons/#{article.icon}")
      h3 #{article.title}
      p #{article.description}
