section.tour-conditions
  h2.visually-hidden У нас лучшие условия!
  each item in tour-conditions
    article.tour-conditions__item
      img.tour-conditions__icon(src="../img/icons/" + item.icon)
      h3 #{item.title}
      p #{item.description}
