doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Лендинг нового туристического направления
    link(rel="stylesheet" href="index.min.css")
    link(rel="stylesheet" href="common.min.css")
  body.body
    include header/header.pug
    main
      include description/description.pug
      include tour-conditions/tour-conditions.pug
      include special-offer/special-offer.pug
      include request/request.pug
        include form/form.pug
        include footer/footer.pug
    script(src="../js/icon-appearance.js")
