doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Лендинг нового туристического направления
    link(rel="stylesheet" href="index.min.css")
    link(rel="stylesheet" href="normalize.min.css")
  body.body
    header.header
      h1.visually-hidden Туры от агентства Нормал-тревел на Бали, в Таиланд, Шри-Ланку и во Вьетнам.
      p.header__text А у нас +30&#160;в&#160;январе
    main
      p.description Мы открыли новые направления для наших туров. Теперь вы можете провести зиму на Бали, в Таиланде, на Шри Ланке или во Вьетнаме
      section.tour-conditions
        h2.visually-hidden У нас лучшие условия!
        article.tour-conditions__item
          img.tour-conditions__icon(src="../img/icons/bungalow.png", alt="Уютные бунгало")
          h3 Уютные бунгало
          p Просторные бунгало прямо на берегу моря, с вайфаем
        article.tour-conditions__item
          img.tour-conditions__icon(src="../img/icons/bike.png", alt="Байк")
          h3 Прокат байков
          p Заправка, ТО, замена и даже штрафы за наш счет
        article.tour-conditions__item
          img.tour-conditions__icon(src="../img/icons/island.png", alt="Серфинг")
          h3 Кайфовая катка
          p Тренер по серфу, прокат досок и гидриков
        article.tour-conditions__item
          img.tour-conditions__icon(src="../img/icons/camera.png", alt="Кино")
          h3 Развитие
          p Секции, клубы по интересам, кино, лекции
        article.tour-conditions__item
          img.tour-conditions__icon(src="../img/icons/ball.png", alt="Спорт")
          h3 Спорт
          p Плавание, бег, кроссфит, йога с опытным инструктором
        article.tour-conditions__item
          img.tour-conditions__icon(src="../img/icons/ambulance.png", alt="Страховка")
          h3 Страховка
          p Медицинская страховка и страховка от спортивной травмы
      article.special-offer
        h2 Дайте две!
        p При покупке двух путевок, вы получаете скидку 20% и доступ к трем любым бесплатным экскурсиям внутри выбранной страны
    footer.footer
      nav.footer__nav
        span Туристическая фирма “Нормал-тревел”
        a(href="#") Правовые документы
        a(href="#") Лицензия
        a(href="#") Персональные данные
