@import "/templates/common.css";
@import "/templates/header/header.css";
@import "/templates/tour-conditions/tour-conditions.css";
@import "/templates/special-offer/special-offer.css";
@import "/templates/request/request.css";
@import "/templates/form/form.css";
@import "/templates/footer/footer.css";

.description {
  font-weight: 900;
  margin: 0;
  padding: 35px 30px 0;
}
