doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Лендинг нового туристического направления
        link(rel="stylesheet" href="./index.min.css")
    body.body
        header.header
         p.header__text А у нас +30&#160;в&#160;январе
        footer.footer
            nav
                ul
                    li Туристическая фирма “Нормал-тревел”
                    li
                        a(href="#") Правовые документы
                    li
                        a(href="#") Лицензия
                    li
                        a(href="#") Персональные данные
